body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
}

#plantsTable {
    width: 100%;
}

#plantsTable th, #plantsTable td {
    text-align: center;
}

#plantsTable th {
    font-size: 1.2rem;
}

#plantsTable button {
    font-size: 1rem;
}

.button-normal {
    background-color: #28a745;
}

.button-alert {
    background-color: #dc3545;
}

img {
    max-width: 100%;
}

#create-plant {
    margin-top: 20px;
}
